.prompt-field {
    &-wrapper {
        max-width: 50%;
        margin: 0.5rem;
        margin-inline: 1rem;
    }

    &__loader {
        height: 5.6rem;
        animation-name: loader-animation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        background: rgb(228 228 228);
        background: linear-gradient(
            90deg,
            rgb(228 228 228 / 100%) 0%,
            rgb(255 153 153 / 100%) 50%,
            rgb(228 228 228 / 100%) 100%
        );
        background-size: 200% 100%;
    }
}

@keyframes loader-animation {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}
